* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
 box-sizing: inherit;
 color: aliceblue;
}

.App{
    background-image: url('./img/bg.gif');
    background-size: cover;
}


